.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
    margin: 0 auto;

}
.grid-item{
    padding: 20px;
    text-align: center;
    background-color: #d9e6f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    border-radius: 25px;
    border: 2px solid slategray;
    margin: 5px;
    
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 26pt;
    margin: 50px;
}

h2{
    padding: 20px;
    text-align: left;
    background-color: #d9e6f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    width: 558px;
    border-radius: 25px;
}

.buttonHover:hover {
    background-color: #b2c8dd;
    color: black;
}

.buttonClick:active {
    background-color: #b2c8dd1;
    transform: translateY(2px);
  }