<div class="grid-container">
  <button class="grid-item" value="7" #seven (click)="appendNumber(seven.value)">7</button>
  <button class="grid-item" value="8" #eight (click)="appendNumber(eight.value)">8</button>
  <button class="grid-item" value="9" #nine (click)="appendNumber(nine.value)">9</button>
  <button class="grid-item" value="4" #ten (click)="appendNumber(ten.value)">4</button>
  <button class="grid-item" value="5" #five (click)="appendNumber(five.value)">5</button>
  <button class="grid-item" value="6" #six (click)="appendNumber(six.value)">6</button>
  <button class="grid-item" value="1" #one (click)="appendNumber(one.value)">1</button>
  <button class="grid-item" value="2" #two (click)="appendNumber(two.value)">2</button>
  <button class="grid-item" value="3" #three (click)="appendNumber(three.value)">3</button>
  <button class="grid-item" (click)="clear()">Clear</button>
  <button class="grid-item" value="0" #zero (click)="appendNumber(zero.value)">0</button>
  <button class="grid-item" (click)="enter()">Enter</button>
  <button class="grid-item" (click)="backspace()">Backspace</button>
  <button class="grid-item" (click)="add()">+</button>
  <button class="grid-item" (click)="substract()">-</button>
  <button class="grid-item" (click)="clearAll()">Clear All</button>
</div>

<p>First Number: {{leftHandNumber}}</p>
<p>Second Number: {{rightHandNumber}}</p>
<p>Answer: {{answer}}</p>
<p>Alternative answer: {{leftHandNumberActuallyANumber + rightHandNumberActuallyANumber}}</p>